{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
<div class="l-container">
  {{ .Render "summary" }}

  
</div>
<div class="subscribe">
    <h3>
        <a href="http://explainingcryptocurrency.net/">
          Subscribe to the Podcast
        </a>
    </h3>
    <p>Want to know more about cryptocurrency?
      <br>
      If you liked this post, you'll love the podcast.
      <br>
      Please check it out!
    </p>
    <a href="http://explainingcryptocurrency.net/">
      <amp-img class="amp-close-image"
      src="/cover.jpg"
      width="250"
      height="250"
      alt="close sidebar"
      on="tap:sidebar.close"
      role="button"
      tabindex="0"></amp-img>
    </a>
  </div>

{{ end }}
