<article class="single article-{{ .Source.Path | md5 }}">
  <div class="header-wrapper">
      {{if isset .Params "featured_image" }}
      <amp-img  alt="A view of the sea"
                width="1200"
                height="675"
                src="{{ index .Params "featured_image" }}"
                layout="responsive">
      </amp-img>
      {{ end }}
    <header class="article-header">
      <div class="clearfix">

        <h1 class="title">{{ .Title }}</h1>
        <ul class="p-facts">

  
    
          <li>
              Tags:
              {{ $params := .Params }}
              {{ range $key, $value := $.Site.Taxonomies }}
              {{ if isset $params $key }}
                    {{ range (index $params $key) }}
                    <a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/{{ . | urlize }}/">{{ . }}</a> 
                    {{ end }}
              {{ end }}
              {{ end }}
          </li>
          <li>
              Written by <a href="https://twitter.com/mr_rigden">Jason Rigden</a>
            </li>
        </ul>
      </div>
    </header>
  </div>

  <div class="article-body">
    <p>
        {{ .Description }}
    </p>
    {{ .Content }}
  </div>
  <p class="corrections">
    <a href="https://github.com/jrigden/ExplainingCryptocurrencyPosts/edit/master/{{ .File.Path }}">
      Corrections and suggestions <br> for this page can be made on Github.
    </a>
  </p>

  <hr>

</article>

